#{extends 'main.html' /}
#{set title:'Formulário de treinos' /}


<section class="forms">
				
        <div class="container-fluid">
          <!-- Page Header-->
          <div class="row">
            <div class="col-lg-6">
              </div>
            <div class="col-lg-4">
              </div>
            <div class="col-lg-12">
              <div class="card">
                <div class="card-header d-flex align-items-center">
                
                  <h4>Preenchimento:</h4>
                </div>
                <div class="card-body">
                  <form class="form-horizontal" action="@{Treinos.salvar}" method="post">
                  <input type="hidden" name="tre.id" value="${t1?.id}" >
                    <div class="form-group row">
                      <label class="col-sm-2 form-control-label">Nome do Treino</label>
                      <div class="col-sm-10">
                        <input type="text" name="tre.nome" value="${t1?.nome}" class="form-control">
                        <span class="vermelho">	#{error 'tre.nome' /} </span>
                      </div>
                    </div>
                                       
                        <button type="submit" class="btn btn-primary">Salvar </button>  </br></br>
                        <a href="@{Treinos.listar}" class="btn btn-info"> Listagem de treinos</a> </br></br>
                        
             #{if t1?.id }
	
				<div class="form-group row">
                   <label class="col-sm-2 form-control-label" >Usuarios</label>
                      <div class="col-sm-10">
							
						<select class="form-control" name="idUsuario">
							<option>--</option>
	
							#{list items: usuarios, as: 'u'}
							<option value="${u.id}" > Nome: ${u.nome} - ${u.email}</option>
							#{/list}
	
					  </select> </br>
					  <h6 class="col-sm-10"> Se o usuário já estiver neste treino, o mesmo não irá aparecer na listagem. (Selecione e salve o usuário) </h6>
					</div>
			 	</div>
			#{/if}
					</form>

			#{if t1?.id }
			
			<div class="card-header">
				</div>
			
			<div class="col-lg-12">
              <div class="card">
                <div class="card-header">
                   <h4>Listagem de usuários neste treino:</h4>
                </div>
                <div class="card-body">
                 <div class="table-responsive">
                    <table class="table table-striped table-sm">
                     <thead>
                        <tr>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th>Nome</th>
                          <th>Email</th>
                          <th>Remover</th>
                         
                        </tr>
                      </thead>
                    <tbody>
				#{list items: t1.usuarios, as: 'u2'}
					 <tr >
                       <th scope="row"></th> 
                        <td></td>
                        <td></td>
						<td>${u2.nome} </td> 
						<td>${u2.email} </td> 
						
						<td class="list-group-item list-group-item-action list-group-item-success">
					 		<a href="@{Treinos.removerUsuario(t1.id, u2.id)}">Remover</a>
					 </tr>
				#{/list}
				
				
				</tbody>
				
					</table>
				</div>
			  </div>
			</div>
		   </div>
		
			#{else}
				<div class="form-group row">
                   <label class="col-sm-2 form-control-label" ></label>
                   <label class="col-sm-2 form-control-label" ></label>
                      <div class="col-sm-5">
   				<h6 class="col-sm-10" > Nenhum usuário adicionado neste treino!</h6>
   				</div>
   				</div>
   				
			#{/else}
				
			#{/if}
			
			
			
			
                        
                      
					
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>