<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">404</span>
                <div class="mb-4 lead">A página que você está procurando não foi encontrada.</div>
                <div class="mb-4 lead">Motivos mais comuns:</div>
                <div class="mb-4 lead">1 - Você não tem permissão</div>
                <div class="mb-4 lead">2 - Para cadastrar novos usuários, deslogue e tente cadastrar</div>
                <a href="@{Login.sair()}" class="btn btn-link">Voltar ao Login e encerrar sessão</a>
            </div>
        </div>
    </div>
</div>
